 .estilizar{


    position: relative;
    background-color: #006666;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 5px;
    width: 200px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    margin: 3px;
 }

 .estilizar:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }

  .estilizar:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
  @media only screen and (max-width: 1700px) {
    .img {
      height: 78%;
      width: 78%;
    }
  }
  
  @media only screen and (max-width: 1400px) {
    .img {
      height: 100%;
      width: 100%;
    }
}